body{
    background-color: #f9f9f9;
}

.carousel2{
    margin-top: 4vh;
}

.jumbotron{
    margin-top: 4vh;
    text-align: center;
    background-color: #e5e5e2;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.div_contacto{
    margin-top: 4vh;
}

.con_borde{
    border-radius: 15px;
    border: 2px solid black;
}

.telefono{
    text-size-adjust: 8px;
}

.icono_contacto{
    width: 5vw;
    height: 5vh;
}

.blog-footer {
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

.lead{
    width: 50%;
    margin-left: 25%;
}


hr{
    max-width: 50%;
    margin-left: 25%;
}

.hr2{
    max-width: 100%;
    margin-left: 0%;
}

.principio{
    font-size: 16px;
}

@media only screen and (max-width: 500px) {

    .carousel2 img{
        width: 100%;
        height: 150px;
    }

    .lead{
        width: 100%;
        margin-left: 0%;
    }

}

#intro {
    background-image: url("../images/33.jpg");
    height: 100vh;
  }

  /* Height for devices larger than 576px */
  @media (min-width: 992px) {
    #intro {
      margin-top: -58.59px;
    }
  }

  .navbar .nav-link {
    color: #fff !important;
  }